@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  margin: 0;
  padding: 0;
}

$primary-color: #bc82de;
$secondary-color: #efefff;
$font-color: #373737;
$white-color: #fff;
$button-color: #8b4bb0;
$button-color_hover: #7d40a0;

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: $font-color;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

pre {
  margin: 0;
  padding: 0;
}

textarea:focus {
  outline: none;
}

#wrapper {
  max-width: 800px;
  margin: 10% auto;
  position: relative;
}

.header {
  background: $primary-color;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  padding: 0 30px;
  height: 75px;
  line-height: 75px;

  .header-title {
    margin: 0;
    font-size: 2em;
    color: $white-color;
    font-weight: normal;
  }
}
.container {
  background: $white-color;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  padding: 50px;
  position: relative;

  .add-new {
    display: inline-block;
    color: $white-color;
    background: $button-color;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    right: 20px;
    text-decoration: none;
    font-weight: 600;

    /*&:hover {
      background-color: $button-color_hover;
    }*/
  }

  .listContainer {
    padding: 0;
    margin: 0;

    .listItem {
      list-style-type: none;
      display: flex;
      flex-wrap: nowrap;
      gap: 5px;
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }

      .listContent {
        display: block;
        margin: 0;
        background: $secondary-color;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;
        width: 630px;

        pre {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          color: $font-color;
        }
      }

      .mark-done,
      .mark-delete {
        display: inline-block;
        text-decoration: none;
        min-width: 28px;
        width: 28px;
        height: 28px;
        line-height: 30px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        text-align: center;
        font-size: 0.7em;
        color: $primary-color;
      }

      .mark-done:hover {
        background: #3acc6a;
        color: $white-color;
        border-color: #3acc6a;
      }
      .mark-delete:hover {
        background: #cc3a3a;
        color: $white-color;
        border-color: #cc3a3a;
      }
    }

    .done {
      .listContent {
        text-decoration: line-through;
        color: #717171;
        background: #f5f5fd;
      }
      .mark-done {
        background: #3acc6a;
        color: $white-color;
        border-color: #3acc6a;
      }
    }
  }
}
.todo-form {
  background: $button-color;
  width: 500px;
  border-radius: 10px 0 10px 10px;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 89px;
  right: 20px;
  z-index: 2;
  display: none;

  &.active {
    display: block;
  }

  &--text {
    width: 100%;
    height: 100px;
    resize: none;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
  }

  &--btn {
    cursor: pointer;
    background: $primary-color;
    color: $white-color;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;

    &:focus {
      outline: none;
    }
  }

  &--close {
    cursor: pointer;
    border: none;
    color: $white-color;
    background-color: transparent;
    font-size: 1.2em;
  }
}

.copyright {
  text-align: right;
  color: $white-color;
  font-size: 0.6em;
  margin: 5px 10px 0 0;
}

.clear-all {
  margin-top: 20px;
  cursor: pointer;
  background: $primary-color;
  color: $white-color;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;

  &:focus {
    outline: none;
  }
}

.listItem.template {
  display: none !important;
}
